<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org">
<suite name="KFC API Regression Suite" verbose="2">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    
    <test name="Store Service Functional Tests">
        <classes>
            <class name="com.kiaap.automation.tests.StoreServiceTests"/>
        </classes>
    </test>
    
    <test name="Catalog Functional Tests">
        <classes>
            <class name="com.kiaap.automation.tests.CatalogTests"/>
        </classes>
    </test>
    
    <test name="Cart Processing Tests">
        <classes>
            <class name="com.kiaap.automation.tests.CartTests"/>
        </classes>
    </test>
    
    <test name="Basket Calculation Tests">
        <classes>
            <class name="com.kiaap.automation.tests.BasketTests"/>
        </classes>
    </test>
</suite>
